*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

body{
  min-height: 100vh;
  background: url() no-repeat;
  background-size: cover;
  background-position: center;

}        

@media (max-width: 1626px){
  html{
    width: max-content;
  }
}


header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background: #00b289;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}


.logo{
  font-size: 33px;
  font-weight: 650;
  color: #fff;
  text-decoration: none;
}



.navbar a{
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  margin-left: 30px;
  color: #fff;
}

.navbar a:hover{
  border-bottom: 3px solid #fff;
}


.navbar button{
  font-size: 19px;
  font-weight: 650;
  color: #00b289;
  background: #fff;
  border-radius: 5px;
  border: none;
  width: fit-content;
  padding: 0px 5px;
  margin-left: 20px;
  height: 34px;
}


.navbar button:hover{
  background: #4c4d5f;
  border-radius: 5px;
  transition: 1s;
  color: #fff;
}


.container{
  width: 100%;
  height: 700px;
  box-shadow: 0px 0px 2px 3px #4c4d5f60;
  display: flex;
  align-items: center;
}


.container .first-halve{
  width: 70%;
  height: 100%;
  color: #4c4d5f;
  background: #fff;
  top: 0;
  left: 0;
  padding: 200px 100px;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}



.container .first-halve button{
 font-weight: 500;
 font-size: 25px;
 border: none;
 border-radius: 40px;
 color: #fff;
 background: #00b289;
 margin-left: 300px;
 margin-top: 30px;
 width: 400px;
 height: 50px;
}




.container .first-halve .welcome{
  font-size: 40px;
  font-weight: 600;
  margin-right: 30px;
  color: #00b289;
  text-transform: uppercase;

}


.container .first-halve p{
  font-size: 20px;
  margin-right: 5px;
}


.container .second-halve{
  width: 30%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
 

}


.second-halve img:hover{
  transform: scale(1.1);
  transition: 1s;
}



.container .second-halve .sub-container{
  width: 80%;
  height: 70%;
  font-size: 20px;
  box-shadow: 3px 3px 3px 3px #00000057;
  align-self: center;
  padding-top: 50px;
  border: none;
  border-radius: 10px;
 

}



.column{
  display: flex;
  height: fit-content;
}

.left, .right {
  width: 20%;
}





.middle{
  justify-content: center;
  height: 100%;
  width: 60%;
}




.services h2,
 .inds{
  font-size: 33px;
  font-weight: 600;
  color: #00b289;
  padding: 35px;
  text-transform: uppercase;
}


.services h2:hover,
.inds:hover{
  transform: scale(1.1);
  transition: 1s;
}


.services p span{
  font-size: 20px;
  font-weight: 600;
}


.services .img img{
  padding: 50px;
  width: 626px;
  height: 417px;
  border-radius: 100px;
  
 

}

.services .img :hover{
  transform: scale(1.1);
  transition: 1s;
}



.containers{
  display: flex;
  width: 100%;
  height: 300px;
  gap: 5px 30px;
  
}


.containers .box{
  background: #f5f5f5;
  width: 500px;
  height: 230px;
  border-radius: 20px;
}


.containers .box p span{
  font-size: 20px;
  font-weight: 600;
  color: #00b289;
  word-wrap: normal;
  width: 200px;
  height: 200px;
}


.containers .box p {
  font-size: 15px;
  font-weight: 500px;
  padding: 10px;
  margin-left: 3px;
}



.container2{
  display: flex;
  row-gap: 30px;
  column-gap: 20px;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 300px;
  gap: 50px 100px;
  
}


.container2 .box1{
  background: url(assets/images/sea.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 230px;
  border-radius: 20px;
}




.container2 .box2{
  background: url(assets/images/air.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 230px;
  border-radius: 20px;
}




.container2 .box3{
  background: url(assets/images/land.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 230px;
  border-radius: 20px;
}



.container2 .img-text{
  font-size: 25px;
  font-weight: 600;
  color: #fff;
  padding: 30px;
}


footer{
  height: 500px;
  width: 100%;
  background: #00b289;
}